<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<h1>About Us</h1>

<p>
  VaultGen alleviates the burdens associated with password management by remembering and generating passwords, automatically logging into websites, and even completing long online checkout forms with a single click. First released and continually
  updated since 2020, VaultGen is our first web app released in 2020 that is completely free. VaultGen will be releasing VaultGen Family, allowing users to add up to 4 additional members to their plan.
</p>

<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
