{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Art Sound Group">

  <!--Title-->
  <title>RPG</title>

  <!--Seo Tags-->
  <meta name="description" content="Your page description here" />
  <meta name="keywords" content="Your meta keywords, here" />
  <meta name="robots" content="index, follow">

  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">

  <!-- Apple Icon -->
  <link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.png' %}">

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Overpass:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.css' %}">

  <!--General Style-->
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/style.css?v=2' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/mailform.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

  <!--Color Style-->
  <link rel="stylesheet" href="{% static 'assets/css/colors/violet.css' %}" type="text/css">

  <!-- Google reCaptcha required javascript file -->
  <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body>

  <!-- Loading -->
  <div id="preload">
    <div id="preload-content">
      <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div id="outer-wrapper">
    <div id="inner-wrapper">
      <div id="table-wrapper">
        <div class="container">
          <div id="row-content">
            <div id="content-wrapper">
              <div id="row-header" class="col-md-12 col-sm-12 text-left">

                <!-- Logo -->
                <a href="#" id="brand" class="animate fade-in animation-time-3s"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
              </div>
              <div class="col-md-12 vertical-aligned-wrapper">
                <div class="col-md-7 col-sm-7 col-xs-12 vertical-aligned-element text-left">
                  <div id="content" class="animate translate-z-in animation-time-2s delay-1-5s">
                    <h1>This domain is for sale!</h1>
                    <h2>www.mydomain.com</h2>
                    <div class="text-left opacity-80">Auction will be end in:</div>
                    <!-- Counter -->
                    <div class="count-down animate small" data-countdown-year="2020" data-countdown-month="6" data-countdown-day="21"></div>
                    <h4>Hurry and make an offer!</h4>
                    <h3>Current offer: $500</h3>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 vertical-aligned-element center animate translate-z-in animation-time-2s delay-2s">
                  <!--Content-->
                  <h3>Make an offer</h3>

                  <!--Mail Form-->
                  <p>Short description of domain, visits, ranking, age, useful stats</p>
                  <div class="contactForm">
                    <form action="bat/mailform_captcha.php" method="post" class="mailform row">
                      <fieldset>
                        <div class="cf_response"></div>

                        <div class="col-md-12 col-sm-12">
                          <label>
                            <input type="text" name="name" id="cf_name" placeholder="Your Name" value="" tabindex="1" required>
                          </label>
                        </div>

                        <div class="col-md-12 col-sm-12">
                          <label>
                            <input type="text" name="email" id="cf_email" placeholder="Your E-mail" value="" tabindex="1" required>
                          </label>
                        </div>

                        <div class="col-md-12">
                          <label>
                            <input name="message" id="cf_message" placeholder="Your Offer" tabindex="4" required></input>
                          </label>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <!-- Google recaptcha required site-key -->
                          <div class="g-recaptcha" data-sitekey="xxxx" data-theme="dark" style="transform:scale(0.66);-webkit-transform:scale(0.66);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                        </div>

                        <div class="col-md-6 col-sm-6 text-right">
                          <button class="button rounded" type="submit">Send My Offer</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="row-footer">
            <footer>
              <div class="col-md-6 col-sm-6 col-xs-6 vertical-aligned-element text-left">
                <p class="animate fade-in animation-time-2s delay-1-5s">
                  © Domsell Inc.<br>
                  Clean and effective way to sell your domain.
                </p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 vertical-aligned-element text-right">
                <p class="animate fade-in animation-time-2s delay-1-5s">
                  <i class="fa fa-phone"></i> <a href="tel:+13843843843">+1 384-384-3843</a><br>
                  <i class="fa fa-envelope-o"></i> <a href="mailto:info@example.com"> info@example.com</a>
                </p>
              </div>
            </footer>
          </div>
        </div>
      </div>

      <!-- Background -->
      <div class="background-wrapper">
        <div class="bg-transfer"><img src="{% static 'assets/img/bg3.jpg' %}" alt=""></div>
        <div id="scene-circles">
          <div id="main-circle1">
            <img src="{% static 'assets/img/circle/scene-layer1.png' %}">
          </div>

          <div id="main-circle2">
            <img src="{% static 'assets/img/circle/scene-layer2.png' %}">
          </div>

          <div id="main-circle3">
            <img src="{% static 'assets/img/circle/scene-layer3.png' %}">
          </div>

          <div id="main-circle-center">
            <img src="{% static 'assets/img/circle/scene-layer-center.png' %}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop"></div>


  <!--Java Scripts-->
  <script type="text/javascript" src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/circle.js' %}"></script>



</body>
